* { 
    margin: 0;
} 
.sar { 
    display: flex; 
    width: 90%; 
    margin-left: 5%; 
    justify-content: space-between; 
    height: 10vh; 
    align-items: center;
} 
.logo { 
    width: 15%; 

} 
.prs { 
    width: 50%; justify-content: space-between; 
    display: flex;


} 
.prs p { 
    font-size: 2.5vh; 
    color: #373737; 

 } 
 .m { 
    display: none;
 }  
 
 .duyum {  
    margin-top: 7vh;
    width: 100%; 
    height: 80vh; 
    background-color: #FFF7F4; 
 } 
 .duyum .n {
    width: 90%; 
    height: 100%; 
    margin-left: 5%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
 } 

 .is { 
    width: 50%; 
    height: 70%; 
     
 } 
 .us { 
    width: 50%; 
    height: 70%; 

 } 
 .is p { 
    color:#7B7B7B ; 
    font-size: 3vh;
    margin-top: 2vh;
 } 
 .is button { 
    width: 25vh; 
    height: 6vh; 
    color: white; 
    border: none;
    background-color: orangered; 
    margin-top: 5vh; 
    border-radius: 1vh;
 }
 .is h1 { 
    font-size: 9vh; 
    color: black; 
 } 
  .is span  {
    color: orangered;
  } 
  .uss { 
    display: none;
  }



 .abo p { 
    text-align: center; 
    font-size: 4vh; 
    margin-top: 10vh;
 } 
 .cl {
    background-color: white; 
    height: 90vh;
 } 
 .q img { 
    width: 90%;
 } 
 .chor {
    width: 90%; 
    height: 30vh; 
    display: flex; 
    justify-content: space-between; 
    margin-left: 5%; 
    margin-top: 10vh;
    margin-bottom: 20vh;

 } 
 .chor .dr {
    width: 24%; 
    height: 100%; 
    border: 1px solid gray;  
    display: flex; 
    justify-content: center; 
    flex-direction: column;  
    align-items: center;

 }  
 .dr img {
    width: 15vh; 
    height: 15vh;
 } 
 .dr p { 
    text-align: center; 
    color: gray;
 }













.is .wqw {
   font-size: 7vh;
}  
.duyum .lll {

   height: 100%;  
   display: flex; 
   flex-direction: column;
}
.sff {
   width: 100%; 
   height: 50%; 
 
   display: flex; 
   justify-content: space-evenly;   
   align-items: center;

}  


.jjk {
   width: 43%; 
   height: 80%; 
   background-color: white; 
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   justify-content: center; 
   border: 0.1px solid gray;
} 
.jjk h1 {
   font-size: 7vh;
} 
.jjk p {
   color: gray;
}  
.dil { 
   margin-top: 20vh; 
} 
.dil p {
   text-align: center;
   font-size: 3.5vh; 
   color: gray;  
   margin-bottom: 5vh;

} 
.dil h1 {
   font-size: 9vh; 
   text-align: center; 

}  
.dil span {
   color: orangered;
} 
.workers  {
   width: 90%; 
   margin-left: 5%; 
   height: 55vh; 
   display: flex; 
   justify-content: space-between;  
   margin-top: 15vh;
} 
.darun {
   width: 23%; 
   height: 100%; 
   border: 1px solid gray;
   display: flex; 
   flex-direction: column; 
   align-items: center;  
   

}  
.darun img {
   width: 100%; 
   height: 74%;  

} 
.darun  p {
   font-size: 3vh; 
   margin-top: 2vh; 
   
   margin-bottom: 3vh; 
} 
.darun span { 
   font-size: 2.5vh ;
   color: gray; 
} 



.darozz {
   width: 100%; 
   height: 90vh; 
   background-color: #FFF7F4; 
   margin-top: 15vh;
} 
.orab { 
   width: 90%; 
   margin-left: 5%;  
   height: 40vh; 
   margin-top: 5vh; 
   display: flex; 
   justify-content: space-around; 
 } 
 .orabb {
   width: 35%; 
   padding-left: 5vh;
   padding-top: 6vh; 
   height: 100%; 
   background-color: orangered; 
   color: white;
 } 
 .orabb p { 
   margin-top: 3vh; 
   margin-bottom: 5vh;

 }  


 .another {
   width: 90%; 
   height: 50vh; 
   margin-left: 5%; 
   
   margin-top: 9vh; 
   display: flex; 
   justify-content: space-between 
} 
 .yu { 
   border: 1px solid gray;
   width: 48%; 
   height: 100%; 
   

 } 
 .bollo {
   width: 100%; 
   height: 60%; 
   
   display: flex; 
   justify-content: space-between;
 }  
 .bollo img {
   width: 22vh; 
   height: 22vh; 
   margin-top: 7vh; 
   margin-right: 3vh;
 } 
 .bollo p { 
   margin-left: 4vh; 
   margin-bottom: 4vh; 
   margin-top: 3vh; 
   color: orangered;
 } 
 .bollo .vc {
   font-size: 4vh; 
   color: black;
 }
 .poyon {
   width: 100%; 
   height: 40%; 
   display: flex;
 }  
 .poyon img {
   width: 15vh; 
   height: 15vh; 
   margin-top: 3vh; 
   margin-left: 3vh;
 } 

 .polj p  { 
   font-size: 3vh; 
   margin-left: 4vh;
   margin-top: 9vh;

  
} 
.polj .hy {
   color: gray;
   margin-top: 1vh; 
   margin-left: 2vh;
} 


 
.mails {
   width: 90%; 
   height: 35vh; 
   display: flex; 
  justify-content: space-between;
   margin-left: 5%;
   margin-top: 10vh; 
  
} 
.mails .lki {
   width: 30%; 
   height: 100%; 

   border: 1px solid gray;
} 
.lki .lk1 {
   width: 100%; 
   height: 55%; 
 
   display: flex; 
} 
.rr p {
   font-size: 4vh; 
} 
.rr .pr {
   font-size: 3vh; 
   color: orangered; 
   margin-top: 4vh; 
   margin-bottom: 3vh;
} 
.xz p {
   font-size: 3vh; 
   color: gray; 
   margin-top: 2vh; 
   margin-left: 5vh;
}





 @media (max-width:510px) { 
    .prs { 
        display: none;  


    } 
    .m { 
        display: block;
    } 
    .logo img { 
        width: 10vh; 
        
    }  
    
    .n {
        flex-direction: column; 
    } 
    .is {
        width: 100%;
    } 

    .us {
        display: none;
    }  
    .uss { 
        display: block; 

    } 
    .us img { 
 width: 100%; 

    }
    .is h1 { 
        font-size: 5vh;
        text-align: center;
    } 
    .is p { 
        text-align: center;
    }
    .is button {
        width: 70%; 
        margin-left: 5vh;
    }  
    .q {
        display: block; 
        width: 100%; 
        margin-top: 5vh; 
        margin-bottom: 9vh;

    } 
    .q img {
        width: 100%; 

    } 
     .chor {
      
        height: 100vh; 
        flex-direction: column; 
        margin-top: 30vh; 
        
     }
    
      .chor .dr {
        width: 100%;
      margin-bottom: 3vh;
    
     }  
     .qq {
        display: none; 

     } 
  .duyum .lll {
   flex-direction: column;  
   width: 100%; 
   margin-top: 40vh;
   
  } 
  .lll .sff {
   width: 100%; 
   flex-direction: column; 

  } 
  .lll .jjk {
   width: 100%;  
   height: 50vh;  
   margin-bottom: 5vh;
  } 
 
  .workers {
   overflow: scroll;
   width: 90%; 
   margin-top: 10vh; 
   justify-content: center;
  }  
  .workers .darun {
   width: 100%; 
   display: none; 

  } 
  .workers .darunn {
   display: block; 
   width: 100%;
  } 
  .workers .darunn p {
   text-align: center;
  } 
   .workers .darun span { 
   margin-left: 15vh;
  }
  .dil {
   margin-top: 100vh;
  } 
  .nest {
   display: none; 
  }   
  .dill { 
   margin-top: 0;
  }
  .dill p { 
   font-size: 3vh;
  }
  .dill h1 {
   font-size: 4vh;
  }  
  .dil h1 {
   font-size: 5vh; 

  } 
  .dil p { 
   font-size: 3vh;
  }
 
  .orab {
   width: 90%;   
   margin-bottom: 0;
   
  } 
  .orabb {
   width: 100%; 
   margin-bottom: 0;
  } 
  .dils {
   margin-top: 0;
  } 
  .dils h1 {
   font-size: 5vh;
  }
  
  .yu { 
   width: 100%;  
   height: 48vh;  
   
  } 
  .yu .bollo {
   width: 100%;  
   margin-bottom: 0vh;

  }  
 
  .yu .bollo p {
   font-size: 2vh;
  } 
  .yu .bollo img {
   width: 15vh; 
   height: 15vh;
  } 
  .yu .poyon .polj p {
   font-size: 2vh;
  }
  .yu .poyon { 
   width: 100%; 
  } 
  .mails {
   width: 90%; 
   flex-direction: column; 
   height: 45vh; 
  }
 .mails .lki { 
   width: 100%; 
   margin-bottom: 5vh;  
   

   height: 100%;
 }
 }   