* { 
    margin: 0;
} 
.sar { 
    display: flex; 
    width: 90%; 
    margin-left: 5%; 
    justify-content: space-between; 
    height: 10vh; 
    align-items: center;
} 
.logo { 
    width: 15%; 

} 
.prs { 
    width: 50%; justify-content: space-between; 
    display: flex;


} 
.prs p { 
    font-size: 2.5vh; 
    color: #373737; 

 } 
 .m { 
    display: none;
 }  
 
 .duyum {  
    margin-top: 7vh;
    width: 100%; 
    height: 80vh; 
    background-color: #FFF7F4; 
 } 
 .duyum .n {
    width: 90%; 
    height: 100%; 
    margin-left: 5%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
 } 

 .is { 
    width: 50%; 
    height: 70%; 
     
 } 
 .us { 
    width: 50%; 
    height: 70%; 

 } 
 .is p { 
    color:#7B7B7B ; 
    font-size: 3vh;
    margin-top: 2vh;
 } 
 .is button { 
    width: 25vh; 
    height: 6vh; 
    color: white; 
    border: none;
    background-color: orangered; 
    margin-top: 5vh; 
    border-radius: 1vh;
 }
 .is h1 { 
    font-size: 9vh; 
    color: black; 
 } 
  .is span  {
    color: orangered;
  } 
  .uss { 
    display: none;
  }



 @media (max-width:510px) { 
    .prs { 
        display: none;  


    } 
    .m { 
        display: block;
    } 
    .logo img { 
        width: 10vh; 
        
    } 
    .n {
        flex-direction: column; 
    } 
    .is {
        width: 100%;
    } 

    .us {
        display: none;
    }  
    .uss { 
        display: block; 

    } 
    .us img { 
 width: 100%; 

    }
    .is h1 { 
        font-size: 5vh;
        text-align: center;
    } 
    .is p { 
        text-align: center;
    }
    .is button {
        width: 70%; 
        margin-left: 5vh;
    }  
    .q {
        display: block; 
        width: 100%; 
        margin-top: 5vh; 

    } 
    .q img {
        width: 100%;
    };
 } 
 .abo p { 
    text-align: center; 
    font-size: 4vh; 
    margin-top: 10vh;
 } 
 .cl {
    background-color: white; 
    height: 90vh;
 } 
 .q img { 
    width: 90%;
 }