* { 
    margin: 0;
} 
.sar { 
    display: flex; 
    width: 90%; 
    margin-left: 5%; 
    justify-content: space-between; 
    height: 10vh; 
    align-items: center;
} 
.logo { 
    width: 15%; 

} 
.prs { 
    width: 50%; justify-content: space-between; 
    display: flex;


} 
.prs p { 
    font-size: 2.5vh; 
    color: #373737; 

 } 
 .m { 
    display: none;
 } 
 @media (max-width:510px) { 
    .prs { 
        display: none;  


    } 
    .m { 
        display: block;
    } 
    .logo img { 
        width: 10vh; 
        
    }
 }